Leave request processed
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},<p>

<p>You just processed {{#if was_pended_revoke}}cancellation of {{/if}}leave request <i>{{>leave_request_detail leave=leave }}</i> for {{#with requester}}{{this.full_name}}{{/with}}: to {{action}}.</p>

<p>Cheers</p>
