Cancelled leave request
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p>{{#with requester}}{{this.full_name}}{{/with}} cancelled their leave request <i>{{>leave_request_detail leave=leave }}</i>.</p>

<p>Please visit your {{> email/link href=(concatenate (get_application_domain) '/requests/') text='Pending Requests' }} page to approve or reject the cancellation.</p>

<p>Cheers</p>
