Leave request was cancelled
=====
<p>Hello {{#with requester}}{{this.full_name}}{{/with}},</p>

<p>Your leave request <i>{{>leave_request_detail leave=leave }}</i> was <strong>cancelled</strong>.</p>

<p>Cheers</p>
