Cancelled leave request
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p>{{#with requester}}{{this.full_name}}{{/with}} cancelled the request <i>{{>leave_request_detail leave=leave }}</i>.</p>

<p>No action is needed.</p>

<p>Cheers</p>
