Leave request
=====
<p>Hello {{#with requester}}{{this.full_name}}{{/with}},</p>

<p>Your leave request <i>{{>leave_request_detail leave=leave }} cancellation</i> was sent to {{#with approver }}{{this.full_name}}{{/with}}.</p>

<p>An email will be sent when it is proccessed.</p>

<p>Cheers</p>
