Registration completed
=====
<p>Hello {{user.name}},</p>

<p>Thank you for registering an account on {{company.name}} {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Happy Vacationing!</p>
