Reset password for {{company.name}} TimeOff.Management
=====
{{# with user ~}}
<p>Hello {{this.name}},</p>

<p>Your password for {{company.name}} {{> email/link href=(get_application_domain) text='TimeOff.Management' }} was successfully changed.</p>

{{~/ with }}

<p>Cheers</p>
